<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/main.css')}}">
    <title>Mura</title>
</head>

<body class="h-full">
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.5.0/dist/alpine.min.js"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>