{% extends "base.html" %} {% block content %}
<div style="width: 100%; height: 100%; position: relative; background: white; background-image: url('/static/image/bg.png'); background-size: cover; background-position: center;" class="w-full h-full flex flex-row">
    <div class="flex-1 h-full w-full">
        <div class="h-full flex flex-col gap-6 justify-center w-4/5 m-auto pl-">
            <h1 class="text-[black] text-8xl font-extralight leading-[102px]">
                Welcome to<br /><span class="text-[#0f4afb] text-8xl font-light leading-[102px]">
                </span><span class="text-[#0f4afb] text-8xl font-bold leading-[102px]">Mura AI</span>
            </h1>
            <div class="text-[32px] font-light leading-[38px]">
                Your Personal Health Assistant for quick, reliable health information and
                support.
            </div>
            <div>
                <div class="btn btn-primary bg-[#0f4afb] text-xl"> <a href="/signup">Get Started</a> </div>
            </div>
        </div>
    </div>
    <div class="flex-1 flex flex-row justify-end items-end">
        <img class="h-[90%]" src="{{ url_for('static', filename='image/landing.png') }}" />
    </div>
</div>
{% endblock %}
