{% extends "base.html" %}

{% block content %}
<div class="relative flex flex-col justify-center h-screen overflow-hidden">
    <div>
        {{ signup_message }} <!-- handle error and success mesages -->
    </div>
    <div class="w-full p-6 m-auto rounded-md lg:max-w-lg">
        <h1 class="text-4xl font-normal text-center mb-8">Create your Mura account</h1>
        <form class="space-y-8" action="/auth/signup" method="POST">
            <div class="flex flex-col gap-8">
                <div>
                    <label class="label">
                        <span class="text-base label-text">Username</span>
                    </label>
                    <input type="text" placeholder="Username" name="username" class="w-full input input-bordered input-primary" required/>
                </div>
                <div>
                    <label class="label">
                        <span class="text-base label-text">Email Address</span>
                    </label>
                    <input type="text" placeholder="Email Address" name="email" class="w-full input input-bordered input-primary" required/>
                </div>
                <div>
                    <label class="label">
                        <span class="text-base label-text">Create a password</span>
                    </label>
                    <input type="password" placeholder="Enter Password" name="password"
                        class="w-full input input-bordered input-primary" required/>
                </div>
            </div>

            <div>
                <button class="btn btn-primary w-full" type="submit">Create an account</button>
                <div class="flex flex-row justify-center text-center gap-2 mt-2">Already have an account? <a href="{{ url_for('login_page') }}" class="text-blue-500">Login</a></div>
            </div>

        </form>
    </div>
</,div>
{% endblock %}